  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .inputDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    margin-right: 100px;
  }
  
  .inputDiv h2 {
    margin-bottom: 20px;
  }
  
  .inputDiv form div {
    margin-bottom: 10px;
  }
  
  .inputDiv form div label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
  }
  
  .inputDiv form div input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .StudentsData{
    margin-left: 50px;
  }
   .table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table th,
  .table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .table th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: normal;
  }
  
  .table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  